<!DOCTYPE html>
<html>
  <head>
    <title>ATS | Student | Profile</title>
    <%- include('../partials/header') %>
  </head>
  <body>
    <%- include('../partials/sidebar') %>
    <div class="page">
      <!-- navbar-->
      <header class="header">
        <%- include('../partials/navbar') %>
      </header>
      
      <!-- Page Header-->
      <header class="py-4">
        <div class="container-fluid py-2">
        </div>
      </header>
      <!-- Forms Section-->
      <section class="pb-5"> 
        <div class="container-fluid">
          <div class="row">
            <!-- HR Info -->
            <div class="col-lg-3 col-md-2 col-sm-0"></div>
            <div class="col-lg-6 col-md-8 col-sm-12">
              <div class="card">
                <div class="card-header border-bottom" style="background-color: #c3decf;">
                  <h3 style="font-size: x-large;" class="lead mb-0">Select Organization</h3>
                </div>
                <div class="card-body">
                  
                  <form action="<%= origin %>/student/<%= userId %>/give_attendance_select_org" method="POST" class="form-group">
                      <select type="text" class="form-control" name="adminUserId" value="" required>
                          <option value="" selected>-- Select --</option>
                          <% for(admin of adminData) { %>
                            <option value="<%= admin.userId %>"><%= admin.companyName %></option>
                          <% } %>
                      </select>
                      <button type="submit" class="btn btn-lg btn-block btn-success mt-4">Done</button>
                  </form>

                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-0"></div>

          </div>
        </div>
      </section>

    </div>
    <%- include('../partials/footer') %>
  </body>
</html>